<!-- section about-->

<section>
  <div class="container">
    <h2 class="section-title title-about">
      Ac cras eu, nisl dui pulvinar malesuada est eget quam vitae ciras fames
      fermentum
    </h2>
    <div class="info-about">
      <p class="text-about">
        Ac cras eu, nisl dui pulvinar malesuada fermentum est eget quam vitae
        cras fames fermentum
      </p>
      <p class="text-about">
        Ac cras eu, nisl dui pulvinar malesuada fermentum est eget quam vitae
        cras fames fermentum
      </p>
      <button class="btn-about" type="button">Try it for free</button>
    </div>
  </div>
</section>
