<footer class="footer">
  <div class="container footer-container">
    <div class="soc-icon-footer" id="js-footer"></div>
    <div class="items-footer">
      <svg width="127" height="20">
        <use href="../img/icons.svg#icon-Logo"></use>
      </svg>
      <p class="footer-reserv">&copy;2022 All right reserved</p>
      <ul>
        <li>
          <a href="" class="footer-link">Terms &amp; Conditions</a>
        </li>
        <li>
          <a href="" class="footer-link">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
