.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 37px 0 37px 0;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  padding: 37px 0 37px 0;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.nav-item:hover {
  color: #5b40ff;
}

.header-socials {
  display: flex;
  gap: 35px;
}

.social-link {
  padding: 37px 0 37px 0;
}

.social-link:hover {
  opacity: 0.8;
}
