.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
}

.plans-list {
  display: flex;
}

.pricing-items {
  display: flex;
  flex-direction: column;
  gap: 133px;
  align-items: stretch;
}
