h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all 0.25s;
}

button {
  cursor: pointer;
  border: none;
  transition: all 0.25s;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
